:root {
    --background-color: #f4f4f4;
    --text-color: #333333;
    --btn-background-color: #4CAF50;
    --btn-text-color: #ffffff;
    --btn-hover-color: #45a049;
    --input-border-color: #dddddd;
    --input-focus-border-color: #4CAF50;
    --dropdown-bg-color: #ffffff;
    --dropdown-border-color: #dddddd;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

.btn {
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--btn-hover-color);
}

.btn-cancel {
    background-color: #cccccc;
}

.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    width: 90%;
    max-width: 600px;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.form-group {
    margin-bottom: 1rem;
}

.form-container {
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    /* Adjust as needed */
}

input[type="text"],
input[type="file"],
textarea,
select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus,
input[type="number"]:focus {
    border-color: var(--input-focus-border-color);
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
/* Set the margin using percentage */
.image-preview img {
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10%;
}

/* Update the overflow property */
.image-gallery-content {
    display: flex;
    overflow-x: auto;
    /* Change to 'auto' to enable horizontal scrolling if needed */
    overflow-y: hidden;
    /* Hide vertical overflow */
    gap: 2%;
    /* Add gap between images */
}

/* Adjust padding and height to make it responsive */
.image-gallery-content img {
    padding: 0 2%;
    /* Adjust left and right padding */
    border-radius: 8%;
    max-width: calc(100% - 4%);
    /* Subtract the padding from the width */
    height: auto;
    /* Auto height for responsiveness */
    max-height: 600px;
    /* Set max-height to limit image height */
    transition: transform 1.5s ease-in-out;
}

/* Change visibility property to 'hidden' */
.image-gallery-content img.hidden {
    transform: translateX(-100%);
    visibility: hidden;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdown-bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--dropdown-border-color);
    border-radius: 5px;
    z-index: 1000;
    width: 100%;
    left: 0;
}

.dropdown-content .dropdown-option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-content .dropdown-option:hover {
    background-color: #f9f9f9;
}

.dropdown-content.show {
    display: block;
}

/* New CSS for responsiveness */
.table-container {
    overflow-x: auto;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    table {
        font-size: 12px;
    }

    .modal {
        width: 100%;
        padding: 10px;
        max-width: none;
    }
}
footer {
    background-color: #253d2e;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
